@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

/* 전역으로 웹폰트 적용 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
.pretendard-font {
  font-family: 'Pretendard-Regular', sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
.pretendard-font-medium {
  font-family: 'Pretendard-Medium', sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
.pretendard-font-semiBold {
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
.pretendard-font-bold {
  font-family: 'Pretendard-Bold', sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
.pretendard-font-extraBold {
  font-family: 'Pretendard-ExtraBold', sans-serif;
  font-style: normal;
}